.custom-select {
    width: 100%;
    height: 55px;
    padding: 0 50px 0 10px;
    color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.1);
    appearance: none;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.phone-number-input {
    .separate-dial-code {
        margin: .25em 0;
        padding-bottom: 1.34375em;
        width: 100%;
        position: relative;

        .form-control {
            padding: 14px 14px;

            &:focus {
                outline: 1px solid #074992;
                border-color: #074992;
                box-shadow: none;
            }
        }

        .iti__flag-container {
            height: 55px;
        }
    }

    &.error-phone {
        .separate-dial-code {
            padding-bottom: 0;

            .form-control {
                border-color: #f44336;
                outline: 1px solid #f44336;

                &:focus {
                    outline: 1px solid #f44336;
                    border-color: #f44336;
                    box-shadow: none;
                }
            }
        }
    }

    ::ng-deep {
        .mat-error {
            font-size: 75%;
        }
    }
}

.mat-select-arrows {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    color: rgba(0, 0, 0, 0.54);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 4px;
    right: 15px;
    transform: translatey(-7px);
}

.mat-div-box {
    display: flex;
    align-items: center;
    position: relative;

    ::ng-deep {
        .select-mat {
            position: absolute;
            width: 18%;
            align-items: center;
            z-index: 11111;

            .mat-form-field-outline {
                &> {
                    div {
                        border: none;
                    }
                }
            }

            .mat-select-trigger {
                align-items: baseline;
            }

            .mat-form-field-flex {
                padding: 0 0.75em 0 0.75em;
            }
        }

        .mat-form-field-flex {
            padding: 0 20px 0 90px;
        }
    }
}