<div class="auth-section">
  <div class="login-container">
    <div class="login-content">
      <a class="login-title">
        <img src="assets/image/logo.png" alt="logo-img" />
      </a>
      <mat-card>
        <form
          [formGroup]="resetPasswordForm"
          (ngSubmit)="submitResetPassword()"
        >
          <h2>Reset Password</h2>
          <div>
            <mat-form-field>
              <mat-icon matPrefix>lock_outline</mat-icon>
              <input
                type="password"
                autocomplete="false"
                matInput
                placeholder="New password"
                formControlName="password"
              />
              <mat-error
                *ngIf="resetPasswordForm.get('password')?.hasError('required')"
              >
                Please enter new password
              </mat-error>
              <mat-error
                *ngIf="
                  !resetPasswordForm.get('password')?.hasError('required') &&
                  resetPasswordForm.controls['password'].hasError(
                    'strong_password'
                  )
                "
              >
                Password must be of 8 – 15 characters and contains 1 Uppercase,
                1 Lowercase, 1 Number and 1 Special Character
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-icon matPrefix>lock_outline</mat-icon>
              <input
                type="password"
                autocomplete="false"
                matInput
                placeholder="Confirm password"
                formControlName="password_confirmation"
              />

              <mat-error
                *ngIf="
                  resetPasswordForm
                    .get('password_confirmation')
                    ?.hasError('required')
                "
              >
                Please enter confirm password
              </mat-error>

              <mat-error
                *ngIf="
                  resetPasswordForm.controls['password_confirmation'].hasError(
                    'confirmPassword'
                  ) && resetPasswordForm.controls['password'].touched
                "
              >
                Passwords do not match.
              </mat-error>
            </mat-form-field>
          </div>
          <button
            class="submit-btn"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Save
          </button>
        </form>
      </mat-card>
    </div>
  </div>
  <p class="copy-text">Copyright ©{{ getYear }} School Management System</p>
</div>
