<button type="button" class="close-btn" (click)="closeModal()">X</button>
<div class="tab-from-box filter-popup">
  <h2>Add New Standard</h2>
  <form [formGroup]="addStdForm" (ngSubmit)="submit()">
    <div class="form-listbox">
      <div class="form-field">
        <mat-label>Standard Name<span class="required">*</span></mat-label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Enter standard name" formControlName="stdName" appWhiteSpaceRestriction />
          <mat-error *ngIf="
              submitted &&
              addStdForm.get('stdName')?.hasError('required')
            ">
            Standard Name is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="btn-group">
      <button type="submit" class="link-btn">Submit</button>
      <button type="button" (click)="closeModal()" class="link-btn">Cancel</button>
    </div>
  </form>
</div>