<div class="auth-section">
  <div class="forgot-container">
    <div class="forgot-content">
      <a class="forgot-title">
        <img src="assets/image/logo.png" alt="logo-img" />
      </a>
      <mat-card>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
          <h2>Forgot Password</h2>
          <div>
            <mat-form-field>
              <mat-icon matPrefix>person_outline</mat-icon>
              <input
                autofocus
                type="text"
                matInput
                placeholder="Enter email"
                formControlName="email_id"  
              />
              <mat-error
                *ngIf="forgotForm.get('email_id')?.hasError('required')"
              >
                Please enter email
              </mat-error>
              <mat-error
                *ngIf="forgotForm.get('email_id')?.hasError('pattern')"
              >
                Please enter valid email
              </mat-error>
              <mat-error #email_id></mat-error>
            </mat-form-field>
          </div>
          <button
            class="submit-btn"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Submit
          </button>
          <div class="link-div">
            Remember Your Password? <a routerLink="/login">Login</a>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <p class="copy-text">Copyright ©{{ getYear }} School Management System</p>
</div>
