.header-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mat-menu-item{
    line-height: 42px;
    height: 42px;
}

.profile-name{
    font-size: 16px;
    overflow: hidden;
    margin-right: 5px;
}
.profile-btn{
    border: 1px solid #fff;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 30px;
    height: 30px;
    ::ng-deep{
        .mat-icon{
            font-size: 20px;
        }
    }
}