.mat-table .action-btn {
    justify-content: center !important;
}

.mat-header-cell {
    color: #000 !important;
    font-weight: bold;
    justify-content: center !important;
    text-align: center !important;
}

.wrap-group-with-select {
    display: flex;
    align-items: center;
    gap: 16px;
}