<div class="auth-section">
  <div class="login-container">
    <div class="login-content">
      <mat-card>
        <form
          [formGroup]="resetPasswordForm"
          (ngSubmit)="submitResetPassword()"
        >
          <h2>Change Password</h2>
          <div>
            <mat-form-field>
              <mat-icon matPrefix>lock_outline</mat-icon>
              <input
                [type]="hide ? 'password' : 'text'"
                autocomplete="false"
                matInput
                placeholder="Old password"
                formControlName="old_password"
              />
              <button
                disableRipple="true"
                type="button"
                class="pwd-icon-btn"
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  resetPasswordForm.get('old_password')?.hasError('required')
                "
              >
                Please enter old password
              </mat-error>
              <mat-error
                *ngIf="
                  !resetPasswordForm
                    .get('old_password')
                    ?.hasError('required') &&
                  resetPasswordForm.controls['old_password'].hasError(
                    'strong_password'
                  )
                "
              >
                Password must be of 8 – 15 characters and contains 1 Uppercase,
                1 Lowercase, 1 Number and 1 Special Character
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-icon matPrefix>lock_outline</mat-icon>
              <input
                [type]="new_password ? 'password' : 'text'"
                autocomplete="false"
                matInput
                placeholder="New password"
                formControlName="password"
              />
              <button
                disableRipple="true"
                type="button"
                class="pwd-icon-btn"
                mat-icon-button
                matSuffix
                (click)="new_password = !new_password"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  new_password ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="resetPasswordForm.get('password')?.hasError('required')"
              >
                Please enter new password
              </mat-error>
              <mat-error
                *ngIf="
                  !resetPasswordForm.get('password')?.hasError('required') &&
                  resetPasswordForm.controls['password'].hasError(
                    'strong_password'
                  )
                "
              >
                Password must be of 8 – 15 characters and contains 1 Uppercase,
                1 Lowercase, 1 Number and 1 Special Character
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-icon matPrefix>lock_outline</mat-icon>
              <input
                [type]="conf_password ? 'password' : 'text'"
                autocomplete="false"
                matInput
                placeholder="Confirm password"
                formControlName="password_confirmation"
              />
              <button
                disableRipple="true"
                type="button"
                class="pwd-icon-btn"
                mat-icon-button
                matSuffix
                (click)="conf_password = !conf_password"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  conf_password ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  resetPasswordForm
                    .get('password_confirmation')
                    ?.hasError('required')
                "
              >
                Please enter confirm password
              </mat-error>

              <mat-error
                *ngIf="
                  resetPasswordForm.controls['password_confirmation'].hasError(
                    'confirmPassword'
                  ) && resetPasswordForm.controls['password'].touched
                "
              >
                Passwords do not match.
              </mat-error>
            </mat-form-field>
          </div>
          <button
            class="submit-btn"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Save
          </button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
